// As hex codes */

$color-primary-0: #F00;  // Main Primary color */
$color-primary-1: #EEB8C2;
$color-primary-2: #CE7383;
$color-primary-3: #851125;
$color-primary-4: #5F0011;

$color-secondary-1-0: #295571;  // Main Secondary color (1) */
$color-secondary-1-1: #8095A2;
$color-secondary-1-2: #52758C;
$color-secondary-1-3: #103D5B;
$color-secondary-1-4: #032941;

$color-secondary-2-0: #AFB13A;  // Main Secondary color (2) */
$color-secondary-2-1: #FCFDC4;
$color-secondary-2-2: #D9DB7B;
$color-secondary-2-3: #8C8D12;
$color-secondary-2-4: #646500;



// As RGBa codes */

// Main Primary color */
$rgba-primary-0: rgba(166, 54, 74,1); 
$rgba-primary-1: rgba(238,184,194,1);
$rgba-primary-2: rgba(206,115,131,1);
$rgba-primary-3: rgba(133, 17, 37,1);
$rgba-primary-4: rgba( 95,  0, 17,1);

// Main Secondary color (1) */
$rgba-secondary-1-0: rgba( 41, 85,113,1);
$rgba-secondary-1-1: rgba(128,149,162,1);
$rgba-secondary-1-1-t: rgba(128,149,162,0);
$rgba-secondary-1-2: rgba( 82,117,140,1);
$rgba-secondary-1-3: rgba( 16, 61, 91,1);
$rgba-secondary-1-4: rgba(  3, 41, 65,1);

// Main Secondary color (2) */
$rgba-secondary-2-0: rgba(175,177, 58,1); 
$rgba-secondary-2-0-t: rgba(175,177, 58, 0);
$rgba-secondary-2-1: rgba(252,253,196,1);
$rgba-secondary-2-2: rgba(217,219,123,1);
$rgba-secondary-2-3: rgba(140,141, 18,1);
$rgba-secondary-2-4: rgba(100,101,  0,1);