.bg-dotted {
  background: radial-gradient(rgba($black, 0.2) 1px, transparent 1px),
    radial-gradient(rgba($black, 0.2) 1px, transparent 1px), transparent;
  background-size: 10px 10px, 10px 10px;
  background-position: 0 0, 5px 5px, 0 0;
}