.badge {
  border: 2px solid $black;
  border-radius: 2000px;
  display: inline-block;
  padding: 2px 7px;
  font-size: 0.9rem;
  font-weight: 800;
  word-break: keep-all;

  &.is-warning {
    border-color: $red;
    color: $red;
  }

  &.is-info {
    border-color: $blue;
    color: $blue;
  }
}
