.block {
  position: relative;

  &.container {
    max-width: $tablet - ($gap * 2);
    margin: auto;
    &.is-wide {
      max-width: 100%;
      padding: 0 50px;
    }

    @include mobile {
      padding: 0 $gap;
      &.is-wide {
        padding: 0 $gap;
      }
    }
  }

}