.block {
  position: relative;
  box-sizing: border-box;

  &.main {
    max-width: $mainSize;
  }

  &.sub {
    position: absolute;
    top: 0;
    right: 0;
    width: $navSize;
  }

  &.sticky {
    height: 100%;
    > .block {
      position: sticky;
      top: $gap;
    }
  }

  @include until($desktop) {
    max-width: $mainSize;
    margin: auto;

    &.main {
      margin: auto;
    }
    
    &.sub {
      position: relative;
      top: 0;
      right: 0;
      max-width: $mainSize;
      margin: auto;
    }

    &.sticky {
      height: inherit;
      > .block {
        position: relative;
      }
    }
  }

}