.column {
  &.c10 { width: 10%; }
  &.c20 { width: 20%; }
  &.c30 { width: 30%; }
  &.c40 { width: 40%; }
  &.c50 { width: 50%; }
  &.c60 { width: 60%; }
  &.c70 { width: 70%; }
  &.c80 { width: 80%; }
  &.c90 { width: 90%; }

  @include until($desktop) {
    &.c10 { width: 100%; }
    &.c20 { width: 100%; }
    &.c30 { width: 100%; }
    &.c40 { width: 100%; }
    &.c50 { width: 100%; }
    &.c60 { width: 100%; }
    &.c70 { width: 100%; }
    &.c80 { width: 100%; }
    &.c90 { width: 100%; }
  }
}

.columns {
  display: flex;
  &.is-bordered {
    > .column {
      border-left: 1px solid $black;
      &:first-child {
        border: none;
      }
    }
  }
  @include until($desktop) {
    display: block;
  }
}
