.dropzone,
.dropzone * {
  box-sizing: border-box;
}

.dropzone {
  padding: $gap / 2;
  border: 1px solid $gray-black;
  min-height: 150px;
  // min-width: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .dz-message {
    text-align: center;
    width: 100%;
    span {
      font-size: 0.9rem;
      color: $gray-black;
    }
  }

  &.dz-started {
    .dz-message {
      display: none;
    }
  }

  &.dz-clickable {
    cursor: pointer;
  }

  .dz-preview {
    position: relative;
    // min-height: 100px;
    max-width: 100%;
    .dz-image {
      > img {
        max-width: 100%;
      }
    }
    .dz-details {
      font-size: 0.8rem;
      padding: 5px 0 0;
      .dz-size {
        display: inline-block;
        margin-right: 15px;
      }
      .dz-filename {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  // .dz-success {}

  .dz-error {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $gap / 2;
    color: $white;
    background-color: $red;
    .dz-image,
    .dz-details,
    .dz-progress {
      display: none;
    }
  }

  .dz-success-mark,
  .dz-error-mark {
    display: none;
  }
}
