.ProseMirror {
  .is-editor-empty {
    &:first-child {
      &::before {
        content: attr(data-placeholder);
        float: left;
        color: $gray-black;
        pointer-events: none;
        height: 0;
      }
    }
  }
}
