.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // @include desktop {
    & > li,
    & > dd,
    & > div {
      // width: calc(32% - (#{$gap} / 3));
      width: calc(50% - (#{$gap} / 2));
      overflow: hidden;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  // }
  @include until-desktop {
    & > li,
    & > dd,
    & > div {
      width: calc(50% - (#{$gap} / 2));
      box-sizing: border-box;
      overflow: hidden;
      margin-right: $gap;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include mobile {
    & > li,
    & > dd,
    & > div {
      width: 100%;
      overflow: hidden;
      margin-right: 0;
    }
  }
}
