// Variables

// @import './paletton';

$gap: 40px;
$navSize: 180px;
$navMargin: $gap;

$mainSize: 690px;

$mobileHeaderHeight: 50px;

// Fonts
$font-normal: 'Source Sans Pro', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
// $font-normal: arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", osaka, メイリオ, meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// Colors
// $white-ter: hsl(0, 0%, 88%);
// $white-bis: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 96%);
// $white-transparent: hsla(0, 0%, 96%, 0%);

$black: hsl(0, 0%, 7%);
$gray: #EEE;
$gray-black: #AAA;

$black-transparent-10: hsla(0, 0%, 7%, 0.1);
$black-transparent-20: hsla(0, 0%, 7%, 0.2);
$black-transparent-30: hsla(0, 0%, 7%, 0.3);
$black-transparent-40: hsla(0, 0%, 7%, 0.4);
$black-transparent-60: hsla(0, 0%, 7%, 0.6);
$black-transparent-80: hsla(0, 0%, 7%, 0.8);

$orange: hsl(14, 100%, 53%);
$yellow: #FFD12B;
// $yellow-transparent: $rgba-secondary-2-0-t;
$green: #D9DB7B;
// $turquoise: $rgba-secondary-1-2;
$cyan: #2BCEFE;
// // $cyan:         $rgba-secondary-1-1;
// $cyan-transparent: $rgba-secondary-1-1-t;
$blue: rgba(41, 85, 113, 1);
// $purple: $rgba-primary-0;
$red: #F00;

$tablet: 769px;
$desktop: $mainSize + (($navSize + $navMargin) * 2);
$widescreen: $desktop;
// $widescreen: 1200px + (2 * $gap);
$widescreen-enabled: true;
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: false;

// DatePicker

// General
$dp__font_family: $font-normal !default; // Font size for the menu
$dp__border_radius: 0 !default; // Border radius everywhere
$dp__cell_border_radius: $dp__border_radius !default; // Specific border radius for the calendar cell

// Transitions
$dp__transition_length: 22px !default; // Passed to the translateX in animation
$dp__transition_duration: 0.1s !default; // Transition duration

// Sizing
$dp__button_height: 35px !default; // size for buttons in overlays
$dp__month_year_row_height: 35px !default; // height of the month-year select row
$dp__month_year_row_button_size: 25px !default; // Specific height for the next/previous buttons
$dp__button_icon_height: 20px !default; // icon sizing in buttons
$dp__cell_size: 35px !default; // width and height of calendar cell
$dp__cell_padding: 5px !default; // padding in the cell
$dp__common_padding: 10px !default;
$dp__input_padding: 6px 12px !default; // padding in the input
$dp__input_icon_padding: 35px !default; // Padding on the left side of the input if icon is present
$dp__menu_min_width: 260px !default; // Adjust the min width of the menu
$dp__action_buttons_padding: 2px 5px !default; // Adjust padding for the action buttons in action row
$dp__row_margin: 5px 0 !default; // Adjust the spacing between rows in the calendar
$dp__calendar_header_cell_padding: 0.8rem !default; // Adjust padding in calendar header cells
$dp__two_calendars_spacing: 10px !default; // Space between two calendars if using two calendars
$dp__overlay_col_padding: 3px !default; // Padding in the overlay column
$dp__time_inc_dec_button_size: 32px !default; // Sizing for arrow buttons in the time picker

// Font sizes
$dp__font_size: 1rem !default; // overall font-size
$dp__preview_font_size: 1rem !default; // font size of the date preview in the action row
$dp__time_font_size: 2rem !default; // font size in the time picker