// Variables

// @import './paletton';

$gap: 40px;
$navSize: 180px;
$navMargin: $gap;

$mainSize: 690px;

$mobileHeaderHeight: 50px;

// Fonts
$font-normal: 'Source Sans Pro', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
// $font-normal: arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", osaka, メイリオ, meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// Colors
// $white-ter: hsl(0, 0%, 88%);
// $white-bis: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 96%);
// $white-transparent: hsla(0, 0%, 96%, 0%);

$black: hsl(0, 0%, 7%);
// $gray: #EEE;
$gray-black: #AAA;
$orange: hsl(14, 100%, 53%);
$yellow: #FFD12B;
// $yellow-transparent: $rgba-secondary-2-0-t;
// $green: $rgba-secondary-2-2;
// $turquoise: $rgba-secondary-1-2;
// $cyan: #2BCEFE;
// // $cyan:         $rgba-secondary-1-1;
// $cyan-transparent: $rgba-secondary-1-1-t;
$blue: rgba(41, 85, 113, 1);
// $purple: $rgba-primary-0;
$red: #F00;

$tablet: 769px;
$desktop: $mainSize + (($navSize + $navMargin) * 2);
$widescreen: $desktop;
// $widescreen: 1200px + (2 * $gap);
$widescreen-enabled: true;
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: false;