
.menububble{
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  z-index:20;
  background:#000;
  border-radius:5px;
  padding:.3rem;
  margin-bottom:.5rem;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  visibility:hidden;
  opacity:0;
  -webkit-transition:opacity .2s,visibility .2s;
  transition:opacity .2s,visibility .2s;

  &.is-active{
    opacity:1;
    visibility:visible;
  }
}

.menububble__button{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  background:transparent;
  border:0;
  color:#fff;
  padding:2px;
  // padding:.2rem .5rem;
  margin-right:.2rem;
  border-radius:3px;
  cursor:pointer;

  &:last-child{margin-right:0}
  &:hover{background-color:hsla(0,0%,100%,.1)}
  &.is-active{background-color:hsla(0,0%,100%,.2)}
}

.menububble__form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.menububble__input{
  font:inherit;
  border:none;
  background:transparent;
  color:#fff;
}
