rules_version = '2';

function isAuthenticated() {
  return request.auth != null;
}

// function printRequest() {
//   return debug(request) || true;
// }

// function isMine(userID) {
//   return request.auth.uid == userId;
// }

// function isPublished() {
// 	return resource.data.status == 'published'
// }

service cloud.firestore {
  match /databases/{database}/documents {
  	match /timelines/{document=**} {
    	allow read;
      allow write: if isAuthenticated();
    }
    match /posts/{postId} {
      allow read;
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated();
    }
    match /items/{itemId} {
      allow read;
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated();
    }
    match /users/{userId} {
    	allow read;
      allow write: if isAuthenticated();
    }
    match /entities/{entity} {
    	allow read;
      allow write: if isAuthenticated();
    }
    match /comments/{commentId} {
    	allow read;
      allow write: if isAuthenticated();
    }
    match /activities/{document=**} {
    	allow read;
      allow write: if isAuthenticated();
    }
    match /notifications/{notificationId} {
    	allow read;
      allow write: if isAuthenticated();
      match /targets/{document=**} {
        allow read;
      }
    }
  }
}